@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-clip: url(background.mp4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: red;
    user-select: none;
    text-shadow: 0 0 20px red;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    text-shadow: 0 0 20px white;
}

.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid red;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 20px red;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: aqua;
    color: #fff;
    border: 2px solid aqua;
    border-radius: 10px;
    box-shadow: 0 0 20px aqua;
    color: black;
}

body {
    width: 100%;
    height: 100%;
    background-clip: url(background.mp4);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    backdrop-filter: brightness(100%);
    overflow: hidden;
}

section {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 20px 0;
}

.container h1 {
    font-size: clamp(1rem, 0.5rem + 6vw, 3.5rem);
}

.container p {
    width: 65%;
    margin: 20px 0;
    text-align: center;
    font-size: clamp(0.5rem, 0.5rem + 6vw, 1.2rem);
}

.buttons {
    width: 90%;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    margin-top: 50px;
    border-radius: 15px;
    font-size: 130%;
    font-style: unset;
    color: white;
    background-color: transparent;
    border: 3.2px solid red;
    text-decoration: none;
    transition: 0.2s linear;
    box-shadow: 0 0 20px red;
}

.buttons a:hover {
    background-color: aqua;
    border: none;
    box-shadow: 0 0 10px 2px aqua;
    color: black; 
}

.back-video {
    position: absolute;
    top: -10%;
    left: -0.2%;
    min-width: 109%;
    min-height: 109%;
    width: auto;
    height: auto;
    right: 0;
    bottom: 0;
    z-index: -1;
}

body {
    margin: 0; 
    padding: 0; 
    font-family: Arial, sans-serif; 
}

.info-box-container {
    display: flex;
    justify-content: space-around; 
    flex-wrap: nowrap; 
    margin: 0; 
    padding: 20px 0;
    background-color: transparent;
    height: auto;
    align-items: flex-start;
    position: relative;
    top: -20px;
}

.info-box {
    background-color: #312f2f;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 20px red;
    width: 20%;
    height: 250px;
    position: below;
    text-align: center;
    margin: 0 10px;
    border: 2px solid red;
}

.info-box h3 {
    margin: 0;
    padding-bottom: 10px;
    font-size: 18px;
    color: white;
}

.info-box p {
    font-size: 13px;
    color: white;
    margin: 0;
    line-height: 1.5;
}
